/* Background image new tab page */

@-moz-document url(about:newtab), url(about:home){
.outer-wrapper {
    background-image: url("https://wallshub.com/uploads/posts/2024-05/d678d19e52_satoru-gojo-jujutsu-kaisen-4k.webp") !important;
    /* Image in chrome folder */
    background-size: cover !important;
    background-attachment: fixed !important;
    color: grey !important;
    /* Text color */
}

.search-inner-wrapper {
    display: none !important;
}

.non-collapsible-section {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0rem !important;
}
}