@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing){


    html::-webkit-scrollbar {
        display: none;
    }
    
    html {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .click-target-container *,
    .top-sites-list * {
        color: #fff !important;
        text-shadow: 2px 2px 2px #222 !important;
    }
    
    
    body {
        border-radius: 10px;
        margin: 0;
        height: 90vh;
        border: 2px solid !important;
    }
    
    .search-inner-wrapper {
        display: none !important;
    }
    
    
    /* background image in the bottom right corner  */
    
    body::before {
        content: "";
        z-index: -1;
        background: no-repeat url('https://static.vecteezy.com/system/resources/previews/024/212/227/original/ai-generated-sticker-smiling-anime-girl-png.png') center;
        background-size: auto;
        background-size: cover;
        width: 20vw;
        height: 45vh;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    }